<!doctype html>
<html ng-app="agentada" class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Agentada</title>
    <link rel="stylesheet" href="stylesheets/app.css" />
    <script src="bower_components/modernizr/modernizr.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="js/agentada.js"></script>
  </head>
  <body>

    <nav>
      Agentada
    </nav>
    
    <div class="row">
      <div class="large-12 columns">
        <div class="right">
          <button data-dropdown="drop1" aria-controls="drop1" aria-expanded="false">+</button>
          
        </div>
        <h2>Events</h2>

        <div ng-controller="EventsController">
          <ul>
            <li ng-repeat="event in events">
              <p>{{event.text}}</p>
              <p>{{event.time}}</p>
            </li>
          </ul>
          <form id="drop1" class="f-dropdown" data-dropdown-content aria-hidden="true" ng-submit="addEvent()">
            <input type="text" ng-model="eventText" placeholder="Enter the name of your event">
            <input type="time" ng-model="eventTime">
            <button type="submit">Add</button>
          </form>
          
        </div>
      </div>
    </div>

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/foundation/js/foundation.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>
